<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eichlerjiri.movementtracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="eichlerjiri.movementtracker.App"
        android:icon="@mipmap/ic_launcher"
        android:label="Movement Tracker"
        android:requestLegacyExternalStorage="true">
        <activity android:name="eichlerjiri.movementtracker.MovementTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eichlerjiri.movementtracker.MovementDetail" />
        <activity android:name="eichlerjiri.movementtracker.ErrorActivity" />

        <service android:name="eichlerjiri.movementtracker.TrackingService" />
    </application>
</manifest>
